In [2]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [68]:
import pandas as pd

In [69]:
dat = pd.read_csv("ds_salaries.csv")

In [70]:
print(dat.columns)

Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
       'job_title', 'salary', 'salary_currency', 'salary_in_usd',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')

In [71]:
dat = dat.rename(columns={'Unnamed: 0': 'Id'})
dat = dat.drop(labels = ["salary", "salary_currency", "work_year", "employee_residence", "remote_ratio", "job_title", "company_location"], axis = 1)

In [72]:
# removes non full time workers
#dat.employment_type.unique()
dat = dat[dat.employment_type == "FT"]
dat = dat.drop(labels = ["employment_type"], axis = 1)

In [73]:
print(dat.columns)

Index(['Id', 'experience_level', 'salary_in_usd', 'company_size'], dtype='object')

In [74]:
dat2 = pd.get_dummies(dat, columns = ["experience_level", "company_size"])

In [75]:
print(dat2.columns)

Index(['Id', 'salary_in_usd', 'experience_level_EN', 'experience_level_EX',
       'experience_level_MI', 'experience_level_SE', 'company_size_L',
       'company_size_M', 'company_size_S'],
      dtype='object')

In [76]:
n = len(dat2)
print(n)

588

In [77]:
ntrain = 450
ntest = n-ntrain

In [79]:
y = dat2.salary_in_usd
y

0       79833
1      260000
2      109024
3       20000
4      150000
        ...
602    154000
603    126000
604    129000
605    150000
606    200000
Name: salary_in_usd, Length: 588, dtype: int64

In [81]:
x = dat2.drop(labels = ["salary_in_usd", "Id"], axis = 1)
x

,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,company_size_L,company_size_M,company_size_S
0,0,0,1,0,1,0,0
1,0,0,0,1,0,0,1
2,0,0,0,1,0,1,0
3,0,0,1,0,0,0,1
4,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...
602,0,0,0,1,0,1,0
603,0,0,0,1,0,1,0
604,0,0,0,1,0,1,0
605,0,0,0,1,0,1,0
606,0,0,1,0,1,0,0

In [130]:
y_train = y.iloc[:ntrain]
y_test = y.iloc[ntrain:]
x_train = x.iloc[:ntrain]
x_test = x.iloc[ntrain:]

In [134]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(input_shape=(7,)),
  tf.keras.layers.Dense(20, activation = "ReLU"),
  tf.keras.layers.Dense(1)
])

model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.2),
              loss=tf.keras.losses.mse,
              metrics=['mse'])

model.fit(x_train, y_train, batch_size = 10, epochs = 10)

Epoch 1/10
450/450 [==============================] - 1s 897us/step - loss: 8461708288.0000 - mse: 8461708288.0000
Epoch 2/10
450/450 [==============================] - 0s 926us/step - loss: 4210781440.0000 - mse: 4210781440.0000
Epoch 3/10
450/450 [==============================] - 1s 1ms/step - loss: 4006602752.0000 - mse: 4006602752.0000
Epoch 4/10
450/450 [==============================] - 0s 875us/step - loss: 3914362880.0000 - mse: 3914362880.0000
Epoch 5/10
450/450 [==============================] - 0s 800us/step - loss: 3868161792.0000 - mse: 3868161792.0000
Epoch 6/10
450/450 [==============================] - 0s 822us/step - loss: 3844359424.0000 - mse: 3844359424.0000
Epoch 7/10
450/450 [==============================] - 0s 775us/step - loss: 3771763968.0000 - mse: 3771763968.0000
Epoch 8/10
450/450 [==============================] - 0s 833us/step - loss: 3793710592.0000 - mse: 3793710592.0000
Epoch 9/10
450/450 [==============================] - 0s 984us/step - loss: 3779839488.0000 - mse: 3779839488.0000
Epoch 10/10
450/450 [==============================] - 0s 859us/step - loss: 3751041536.0000 - mse: 3751041536.0000

In [125]:
model.fit(x_train, y_train, epochs = 40, batch_size = 10)

Epoch 1/40
45/45 [==============================] - 0s 1ms/step - loss: 107562.7578 - mae: 107562.7578
Epoch 2/40
45/45 [==============================] - 0s 1ms/step - loss: 107561.0078 - mae: 107561.0078
Epoch 3/40
45/45 [==============================] - 0s 1ms/step - loss: 107556.6250 - mae: 107556.6250
Epoch 4/40
45/45 [==============================] - 0s 1ms/step - loss: 107543.4453 - mae: 107543.4453
Epoch 5/40
45/45 [==============================] - 0s 1ms/step - loss: 107502.1016 - mae: 107502.1016
Epoch 6/40
45/45 [==============================] - 0s 907us/step - loss: 107368.9688 - mae: 107368.9688
Epoch 7/40
45/45 [==============================] - 0s 703us/step - loss: 106938.3984 - mae: 106938.3984
Epoch 8/40
45/45 [==============================] - 0s 1ms/step - loss: 105543.7891 - mae: 105543.7891
Epoch 9/40
45/45 [==============================] - 0s 952us/step - loss: 101115.9297 - mae: 101115.9297
Epoch 10/40
45/45 [==============================] - 0s 703us/step - loss: 88565.6172 - mae: 88565.6172
Epoch 11/40
45/45 [==============================] - 0s 1ms/step - loss: 65110.0898 - mae: 65110.0898
Epoch 12/40
45/45 [==============================] - 0s 952us/step - loss: 49466.1836 - mae: 49466.1836
Epoch 13/40
45/45 [==============================] - 0s 703us/step - loss: 46243.3203 - mae: 46243.3203
Epoch 14/40
45/45 [==============================] - 0s 1ms/step - loss: 45231.4961 - mae: 45231.4961
Epoch 15/40
45/45 [==============================] - 0s 748us/step - loss: 44510.3438 - mae: 44510.3438
Epoch 16/40
45/45 [==============================] - 0s 1ms/step - loss: 44069.3008 - mae: 44069.3008
Epoch 17/40
45/45 [==============================] - 0s 1ms/step - loss: 43777.0625 - mae: 43777.0625
Epoch 18/40
45/45 [==============================] - 0s 1ms/step - loss: 43542.5039 - mae: 43542.5039
Epoch 19/40
45/45 [==============================] - 0s 1ms/step - loss: 43336.9727 - mae: 43336.9727
Epoch 20/40
45/45 [==============================] - 0s 1ms/step - loss: 43166.0664 - mae: 43166.0664
Epoch 21/40
45/45 [==============================] - 0s 748us/step - loss: 42945.1602 - mae: 42945.1602
Epoch 22/40
45/45 [==============================] - 0s 1ms/step - loss: 42883.8750 - mae: 42883.8750
Epoch 23/40
45/45 [==============================] - 0s 975us/step - loss: 42761.2227 - mae: 42761.2227
Epoch 24/40
45/45 [==============================] - 0s 929us/step - loss: 42685.7773 - mae: 42685.7773
Epoch 25/40
45/45 [==============================] - 0s 997us/step - loss: 42461.7344 - mae: 42461.7344
Epoch 26/40
45/45 [==============================] - 0s 1ms/step - loss: 42456.3008 - mae: 42456.3008
Epoch 27/40
45/45 [==============================] - 0s 1ms/step - loss: 42490.9961 - mae: 42490.9961
Epoch 28/40
45/45 [==============================] - 0s 1ms/step - loss: 42368.9961 - mae: 42368.9961
Epoch 29/40
45/45 [==============================] - 0s 907us/step - loss: 42330.7852 - mae: 42330.7852
Epoch 30/40
45/45 [==============================] - 0s 703us/step - loss: 42271.0781 - mae: 42271.0781
Epoch 31/40
45/45 [==============================] - 0s 962us/step - loss: 42165.0508 - mae: 42165.0508
Epoch 32/40
45/45 [==============================] - 0s 725us/step - loss: 42145.0664 - mae: 42145.0664
Epoch 33/40
45/45 [==============================] - 0s 2ms/step - loss: 42103.0742 - mae: 42103.0781
Epoch 34/40
45/45 [==============================] - 0s 1ms/step - loss: 42088.3672 - mae: 42088.3672
Epoch 35/40
45/45 [==============================] - 0s 1ms/step - loss: 42032.2773 - mae: 42032.2773
Epoch 36/40
45/45 [==============================] - 0s 990us/step - loss: 41969.4375 - mae: 41969.4375
Epoch 37/40
45/45 [==============================] - 0s 680us/step - loss: 41863.9062 - mae: 41863.9062
Epoch 38/40
45/45 [==============================] - 0s 1ms/step - loss: 41919.8711 - mae: 41919.8711
Epoch 39/40
45/45 [==============================] - 0s 793us/step - loss: 41817.3086 - mae: 41817.3086
Epoch 40/40
45/45 [==============================] - 0s 997us/step - loss: 41780.7656 - mae: 41780.7656